<!--The content below is only a placeholder and can be replaced.-->

<div class="body">

    <div class="box">
        <img src="../assets/IMG_E6282.JPG" alt="" class="box-img" width="200px"height="200px">
        <h1><br></h1>
       <div class="contact">
        <h2> Kulanichawane@gmail.com</h2>
        <h2>0795963482</h2>
        <h2>1955A Thulamahashe 1365</h2>
        
     

      
      </div>

      

      </div>
<div class="container" >
  




<div class="skills">
  <h1 class="hh1" align ="center">Summary Skills</h1>
  <p><b>Business Analysis</b>: Identifying functional and non functional requirements, Problem Analysis, Use case, Data flow diagram<br>
    <b>Information System</b>: Project Management skills, Oracle forms 11g<br>
    <b>Development Software</b>: Java, Visual Basic, ADO.net, PHP, MySQL, HTML, PL/SQL, CSS, Node.Js, Angular.Js.<br>
    <b>Mircosoft Office</b>: Word, Excel, Project, Visio, Access, PowerPoint.<br>
    <b>System Software</b>: Cisco Switching and Routing, Mircosoft Server 2012.<br>
    Communication Skills, Leadership skills, Analytic Skills, Problem Solver.      


  </p>
<hr>


  

 </div><br>
 <div class="skills">
   <h1 class="hh1" align ="center">Eduction</h1>
   <p><b>Matric / 2013</b><br>
    HoerSkool Sybrand Van Niekerk<br><br>

    <b>Intermadiate certificate / 2014</b><br>
    Vaal University of Technology<br><br>

    <b>National Diploma : Information Technology / 2017</b><br>
    Vaal University Of Technology



   </p>
   <hr>
 </div>
 <br>
 <div class="skills">
   <h1 class="hh1"align ="center"> Project / Practical Experience </h1>

<p>
<b>Project</b><br>
<b>Company </b>  : EMFULENI Municipality<br>
<b>Role    </b>  :   Business Analysis and Software Developer<br>
<b>Duties  </b>  : Analyze Problems Identifying requirements and Develop System<br><br>

<b>Current Experience</b><br>

 <b>Company </b>: The Innovation Hub<br>
 <b>Position</b>: Mobile Developer Internship<br>
 <b>Year    </b>: 2018
    




</p>
   <hr>

 </div><br>

<div class="skills">
<h1 class="hh1"align ="center">Awards / Acknowledgements</h1>
<p>
  • IBM Mobile Application Developer Mastery Award Completed 2017<br>
  • Cisco Networking Academy Certification( IT ESSENTIALS) Completed 2015<br>
  • Cisco Networking Academy Certification( CCNA ROUTING AND SWITCHING ) Completed 2015<br><br>
  <b>Extra-Mural Activities</b><br><br>
  • Hockey (2012/2013) 1st Team Member<br>
  • Soccer (2012) 2nd Team Member<br>
  • Athletics (2009) Inter House Gold Medal

</p>
<hr>

</div>
<br>

<div class="reference" align="center">
    <h1>Reference</h1>
    <p>
     Ms Nomsa Ngubane<br> Manager(TribeSA)<br>
     <b>Tel</b> : (071) 443 8241<br>
     <b>Email</b> : Nomsa@TribeSA.co.za<br><br>

     Mr Bongani Kgotlangomang<br>Colleague(TribeSA<br>
     <b>Tel</b> : (065) 237 3329<br>
     <b>Email</b> : Bonganiboik@gmail.com


    </p>
</div>

<div>

  <h1 class="top">KULANI CHAWANE</h1>

</div>
</div>



      
  </div>

  
